apiVersion: v1
kind: Service
metadata:
  name: deployment-controller-service
  annotations:
    metallb.io/address-pool: sdf-services
spec:
  selector:
    app: deployment-controller
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8080